body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px 5px;
    font-size: 12px;
}

th {
    font-weight: bold;
}

.section-title {
    font-weight: bold;
    text-align: left;
}

.total {
    font-weight: bold;
    color: red;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}